

  
  h1 {
    font-size:50px;
    text-align:center;
    font-family:cursive;
    padding:20px;
}
img{
 display:block;
  margin:0 auto;
  height:500px;
width:500px;
border-radius: 50%;
padding:25px;


}
p{
  font-family:  serif;
  text-align:center;
  padding:50px;
  line-height: 20px;
  font-family: serif ;
}
.space{
  font-height: 20px;
}
a{
  font-size:25px;
  padding :40px;
  
}
footer {
    
background-color: black;  
    color: white;  
    text-align: center; 
    padding: 20px; 
    position: relative;
    bottom: 0;
    width: 100%;
}
button.open{
  background-color: darkblue;
  color: white;
  padding:16px;
  border-radius:8px;
  font-size: 32px;
  display:block;
  margin:0 auto;
}
body{
  background-color:white;
  color:black;
}
body.darkMode{
  background-color:black;
  color:white;
}
div.searchbox{
  background-color: black;
}
.in{
  background-color: orange ;
  text-align: center;
  font-size:50px;
  font-family:  sans-serif;
  font: bolder;
  
}
.ou{
  background-color:red;
  padding:20px;
}
.icon{
  padding:10px;
  font-size: 30px;
}
.searchbox{
  text-align:center;
}